@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Share Tech Mono';
    src: url('./fonts/share-tech/ShareTechMono-Regular.ttf') format('truetype');
    font-weight: 400;
}

.section1{
    background-image: url(./images/banners/academic-banner.png);
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section2layer2{
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: 0px auto ;
    gap: 25px;
    justify-content: center;
    margin:0px auto;

}

.section2layer3{
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: var(--black);
    
}

.teachers{
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 200px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.T200{
    font-family: "Share Tech Mono", monospace;
    font-size :32px;
    color: #51141d;
    text-transform: uppercase;
}

h3{
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: var(--black);
    text-transform: uppercase;
}

.section2 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0px 10px;
    width: 100%;
    max-width: 1440px;
}

.section2wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 5px 25px;
}

h2{
    font-family: Poppins, sans-serif;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
    transition: 0.4s;
}

.Subjects{
    font-family: Poppins, sans-serif;
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 1.5em;
    padding-bottom: 15px;
    transition: 0.4s;
}