.kcctrl{
    background-image: url("./images/banners/header-banner.jpg");
    height:75vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.contact{
    
    text-align: center;
    font-weight: 700;
    font-size:72px;
    font-family: poppins, sans-serif;
    line-height: normal;
    

}

.badge{
    height: 75px;
}
.insidenav{
    display: flex;
}

.navlist{
    display: flex;
    gap: 25px;
    align-items: center;
}

.normala{
    font-weight: 800;
    text-decoration: none;
    color: var(--black);
    font-family: Poppins, sans-serif;
}
.list{
    display: flex;
    flex-direction: column;
    width:200px
}
.inputsearch{
    outline:none;
    border: none;
    width:200px;
    height: 50px;
    font-family: "Share Tech Mono", monospace;
    background-color: transparent;
}

.Devanssearchbar{
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 25px;
}
.evMMfB{
    height: 50px;
    width: 50px;
    
}
.nav{display: flex;
    justify-content: space-between;
    width:100%;
    align-items: center;

}